{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome | Life Style Store</title>
        <link href="{%static 'css/bootstrap.css' %}" rel="stylesheet">
        <script src="{%static 'js/jquery.js' %}"></script>
        <script src="{%static 'js/bootstrap.min.js' %}"></script>
        <link href="{%static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
    {% include 'header.html' %}
        <div class="content">
            <!--Main banner image-->
            <div class = "banner_image" style="background-image: url({%static 'img/intro-bg_1.jpg' %});background-size: cover;">
                <div class="container">	
                    <center>
                        <div class="banner_content">
                            <h1>We sell lifestyle.</h1>
                            <p>Flat 40% OFF on premium brands </p>
                            <br/>
                            <a  href="products.php" class="btn btn-danger btn-lg active">Shop Now</a>
                        </div>
                    </center>
                </div>
            </div>
            <!--Main banner image end-->

            <!--Item categories listing-->
            <div class="container">
                <div class="row text-center" id="item_list">
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <a href="camera" style="color:black;">
                            <div class="card">
                                <img src="{%static 'img/1.jpg' %}" alt="">
                                <div class="card-body">
                                    <h3 class="card-title">Cameras</h3>
                                    <p class="card-subtitle">Choose among the best available in the world.</p>
                                </div>
                            </div> 
                        </a>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <a href="products.php#watches">
                            <div class="card">
                                <img src="{%static 'img/10.jpg' %}" alt="">
                                <div class="card-body">
                                    <h3 class="card-title">Watches</h3>
                                    <p class="card-subtitle">Original watches from the best brands.</p>
                                </div>
                            </div> 
                        </a>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <a href="products.php#shirts" >
                            <div class="card">
                                <img src="{%static 'img/13.jpg' %}" alt="">
                                <div class="card-body">
                                    <h3 class="card-title">Shirts</h3>
                                    <p class="card-subtitle">Our exquisite collection of shirts.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <!--Item categories listing end-->
        </div>
    </body> 
</html>